*,*:before,*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
/*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: 'Open Sans', sans-serif;
  background: #333333;
  line-height: 1.5;
  color: #cedfe9;
  font-weight: 300;
}

.content {
  width: 80%;
  margin: 4rem auto 2rem;
  max-width: 1400px;
}

@media(max-width: 800px) {
  .content {
    width: 100%;
  }
}

.tagline {
  margin: 3vh 1.5vw;
  color: #cedfe9;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
}

.header {
  margin: 4vh 1.5vw;
  text-align: center;
}

.header h1 {
  color: #ffffff;
  font-size: 4rem;
  font-family: 'Spirax', cursive;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.header h2 {
  color: #ffffff;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.header p {
  width:  80%;
  margin:  0 auto;
  font-size: 1.25rem;
}

@media screen and (max-width: 800px) {
  .header p {
    font-size: 1rem;
  }
}

.social {
  padding-top: 2rem;
}

.social a, .social a:hover {
  border-bottom: none;
}

.social a:hover {
  color: rgba(217, 217, 217, 0.9);
}

.social a:first-child {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px #FBE6C0;
}

a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px rgba(206, 223, 233, 0.5);
}

li a:hover, li a:focus {
  border-bottom: dotted 1px rgba(206, 223, 233, 0.5);
}

figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 0;
  border: 10px solid #2F5567;
}
figure * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure img {
  opacity: 1;
  width: 100%;
  height: 100%;
}
figure:after {
  background: #FFCB3F;
  width: 0;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(47, 85, 103, 0.7);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure span {
  margin: 0;
  width: 100%;
  color: #FBE6C0;
}
figure a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  border-bottom: none;
}
figure:hover img,
figure.hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
figure:hover:after,
figure.hover:after {
  width: 100%;
}

.flex-gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  min-height: 400px;
}

.flex-gallery .item {
  border: 8px solid #2F5567;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: stretch;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  margin-right: -14px;
  box-shadow: 0 1px 4px 0 rgba(10,16,34,0.2);
  will-change: flex, transform, box-shadow;
  transition: flex 700ms ease, transform 700ms ease, box-shadow 700ms ease, -webkit-transform 700ms ease, border-radius 700ms ease;
}

.flex-gallery .item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.flex-gallery .item .item-content .item-header {
  background: #2F5567;
  height: 4rem;
  margin: 0;
  text-transform: uppercase;
}
.flex-gallery .item .item-content .item-body {
  background: rgba(47, 85, 103, 0.7);
  opacity: 0;
  color: #FBE6C0;
}
.flex-gallery .item:first-child {
  z-index: 5 !important;
}
.flex-gallery .item:nth-child(2) {
  z-index: 4 !important;
}
.flex-gallery .item:nth-child(3) {
  z-index: 3 !important;
}
.flex-gallery .item:nth-child(4) {
  z-index: 2 !important;
}
.flex-gallery .item:last-child {
  z-index: 1 !important;
  margin-right: 0 !important;
}
.flex-gallery .item:hover {
  flex: 5;
  z-index: 999 !important;
  box-shadow: 0 12px 24px 0 rgba(10,16,34,0.3), 0 0 0 transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.flex-gallery .item:hover .item-body {
  opacity: 1;
}
.flex-gallery .item-1 {
  background-image: url("/img/cal-adapt.png");
}
.flex-gallery .item-2 {
  background-image: url("/img/compass.png");
}
.flex-gallery .item-3 {
  background-image: url("/img/AdaptationClearinghouse.png");
}
.flex-gallery .item-4 {
  background-image: url("/img/banner_sfbay_1140x560.jpg");
}

@media screen and (max-width: 800px) {
  .flex-gallery {
    flex-direction: column;
    height: auto;
  }
  .flex-gallery .item {
    min-height: 400px;
    margin-right: 0;
  }
  .flex-gallery .item .item-content .item-header {
    text-align: center;
  }
}

.list {
  margin: 0 auto;
  padding: 0;
}

.list li {
  padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
  .list {
    padding: 0 2rem;
  }
}

.grid {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: calc((90% / 20) - 20px);
  grid-template-columns: calc((100% / 15) - 20px);
  list-style-type: none;
}

.grid-item {
  display: flex;
  width: 100%;
}

.grid-item:nth-child(1) {
  grid-area: 2 / 2 / 4 / 7;
}
.grid-item:nth-child(2) {
  grid-area: 1 / 7 / 5 / 14;
}
.grid-item:nth-child(3) {
  grid-area: 5 / 1 / 8 / 7;
}
.grid-item:nth-child(4) {
  grid-area: 6 / 7 / 10 / 11;
}
.grid-item:nth-child(5) {
  grid-area: 5 / 11 / 8 / 15;
}
.grid-item:nth-child(6) {
  grid-area: 8 / 7 / 11  / 14;
}
.grid-item:nth-child(7) {
  grid-area: 8 / 2 / 10 / 7;
}

@media screen and (max-width: 800px) {
  .grid {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
  .grid-item {
    flex: 1;
  }
}

@supports not (display: grid) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .grid-item {
    flex: 1;
  }
}
